<div class="container">
  <div class="row product-list">
    <div
      *ngFor="let product of products | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, id: 'products-pagination' }"
      class="col-md-4 mb-4">
      <div class="product-card card h-100">
        <img src="../../assets/{{ product.image }}" alt="{{ product.name }}" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">{{ product.name }}</h3>
          <p class="card-text">Price: ${{ product.price }}</p>
          <button class="btn btn-primary" [routerLink]="['/product', product._id]">Details</button>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Pagination Controls -->
    <div class="col">
      <pagination-controls (pageChange)="onPageChange($event)" id="products-pagination" class="pagination-sm">
      </pagination-controls>

    </div>
  </div>
</div>